*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(17,17,17);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.search{
    width: 400px;
    height: 50px;
    border-radius: 20px;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255,70,85);
    color: white;
    
}
main > div {
    width: 600px;
    height: 400px;
    border: 2px solid black;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
   

}
p{
   padding-left: 40px;
   padding-right: 40px;
   margin-top: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
a:hover{
    color: rgb(255,70,85);
}